.aa{
	width: 400px;
	height: 400px;
	border:1px solid black;
	position: relative;
	/*相对定位，相对于本身原有位置的调整;作为绝对定位的参考标准*/
	/*top: 50px;*/
	/*margin-top: 50px;*/
	margin: 50px auto;
	/*相对定位的情况下,top和margin-top效果是一样的，可以用auto设置居中*/
	/*left: 50px;*/
	/*margin-left: 50px;*/
	/*相对定位的情况下,left和margin-left效果是一样的*/
	/*right: 50px;*/
	/*margin-right: 50px;*/
	/*bottom: 50px;*/
	/*margin-bottom: 50px;*/
	/*设置bottom和right的时候,与margin-bottom和margin-right效果差距很大*/
	
}
body{
	margin: 0;
}
.gg{
	width: 50px;
	height: 50px;
	border: 1px solid red;
	
}
/*块元素独占一行，有宽高！
 img、a这两个标签是行内块元素，有宽高，不会独占一行
 span标签是行内元素，不独占一行，没有宽高*/
.cc{
	border: 1px solid blue;
	position: absolute;
	/*绝对定位,标签绝对定位后脱离文档流，然后向父元素逐层寻找参考标准，直到body标签*/
	right: 0;
	top: 0;
}
.dd{
	position: absolute;
    bottom: 0;
}
.ee{
	position: absolute;
    bottom: 0;
	right: 0;
    
}
.ff{
	border: 1px solid yellow;
	position: absolute;
	top: 175px;
	left: 175px;
	/*margin: 50px;*/
}
.abc{
	width: 100px;
	height: 2000px;
	border: 1px solid red;
	
}
.efg{
	width: 50px;
	height: 50px;
	border: 1px solid blue;
	position: absolute;
	right: 0;
	
}
.goTop{
	position: fixed;
	top: 80%;
	right: 20px;
}
