.title{
	font-weight: bold;
	/*字体加粗*/
	font-size: 35px;
	/*字体大小*/
	text-align: center;
	/*文字居中*/ 
	00000000000000000
}
.secondTitle{
	color: gray;
	/*颜色*/
	text-align: center; 
	
	margin-top: 10px;
}
p{
	text-indent: 2em;
	/*首行缩进2字符*/	
}
.Img{
	width: 319px;
	height: 220px;
	margin: 0 auto;
	background-image: url(../img/mars.jpg);
	/*设置背景图片*/
}
.gotop{
	float: right;
	/*浮动右边*/
	}
